@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
  height: 2px;
  background: white;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100vh;
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 2px;
  background: white;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 100vh;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.react-emoji {
  width: 0;
  flex: 1;
}
